Hello {{ user }}, your hostname is {{ ansible_facts['fqdn'] }}, your IP address is {{ ansible_facts['default_ipv4']['address'] }}, you're using {{ ansible_facts['distribution'] }} OS, version {{ ansible_facts['distribution_version'] }}.

If you have any questions, feel free to contact me at Umaru.williams09@dynamictech.com.

WELCOME!
